<h1>Make your form here</h1>
<form action="/articles" method="post">
Article title: <input type="text" name="article[title]"><br>
Article content: <input type="text" name="article[content]"><br>
<input type="submit" value="Submit">