<h1>New Article Creatation</h1>

<form action="/articles" method="POST">
    <label for="article_title">Article Title:</label>
    <input type="text" name="article[title]" id="article_title">
    <label for="article_content">Article Content:</label>
    <input type="text" name="article[content]" id="article_content">
    <input type="submit" value="Submit">
</form>