<form action='/articles' method="POST">
  <h2>Article</h2>
  <label for="title">Title</label><br>
  <input id="title" type="text" name="title" /><br>
  <label for="content">Content</label><br>
  <textarea id="content" name="content"></textarea>
  <%# <input id="content" type="text" name="article[content]" /><br> %>
  <input type="submit" value="Submit">
</form>
